*{
  font-family: Arial;
}
body {
  background-color: #A68572;
}
a{
  text-decoration: none;
  color: #F2D8A7;
}
a:visited{
  text-decoration: none;
  color: #F2D8A7;
}
#header {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 50px;
  background-color: #591E23;
}
#title {
  position: absolute;
  top: 25%;
  margin: 0;
}
#title p{
  margin: 0;
  font-family: Arial Helvetica;
  font-size: 30px;
  color: #F2D8A7;
  font-weight: bolder;
  padding-left: 5px;
}
#home-button{
  position: absolute;
  padding: 0;
  right: 110px;
}
#profile-button {
  position: absolute;
  padding: 0;
  right: 55px;
}
#log-out-button {
  position: absolute;;
  float: right;
  padding: 0;
  right: 0;
}
#my-games p, #browse-games p, #edit-user-profile p, .gametitle{
  font-family: Arial Helvetica;
  font-size: 30px;
  color: #591e23;
  font-weight: bold;
  padding-top: 5px;
  margin: 0;
}
#tabs{
  margin-top: 50px;
}
#content{
  margin-top: 60px;
}
#add-game{
  padding: 15px;
}
#add-game a, #upload-game a, #view-game a{
  color: #f2d8a7;
  background-color: #591e23;
  padding: 10px;
  border: 1px solid #591e23;
  border-radius: 7px;
  box-shadow: inset 0 0 10px #D94E64;
}
th, td{
  border: 1px solid black;
}
iframe{
  width: 100%;
}
#game-list, #bought-game-list, #my-games{
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}
#game-instance{
  padding: 7px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  align-content: center;
}
#actions{
  display: flex;
  justify-content: flex-start;
}
.emptyspace{
  width: 15px;
}
#container{
  display: flex;
  justify-content: flex-start;
  align-content: flex-start;
}
#container p{
  margin: 5px;
}
#game-view{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  align-content: center;
  margin: 15px;
}
