{% extends "webshop/base.html" %}

{% block title %}Welcome to JSshop!{% endblock %}
{% block script %}$(function() {
  $( "#tabs" ).tabs();
});{% endblock %}

{% block content %}
<div id="tabs">
  <ul>
    <li><a href="#tabs-1">Profile</a></li>
    <li><a href="#tabs-2">Games</a></li>
    <li><a href="#tabs-3">Statistics</a></li>
  </ul>
  <div id="tabs-1">
    <p>Edit my user profile</p>
  </div>

  <div id="tabs-2">
    <div id="uploaded-games">
      <div id="add-game">
        <a href="/developer">Add game</a>
      </div>

      <div id="my-games">
        {% for game in games %}
          <div id="game-view">
            <a href="/game/{{ game.id }}">
              <img src="{{ game.picture }}">
            </a>
              <figcaption>
                <a href="/game/{{ game.id }}">
                  {{ game.title }}
                </a><br/>
                <a href="/edit-game/{{ game.id }}" type="button">Edit game</a><br/>
                <a href="/del-game/{{ game.id }}" type="button">Delete game</a>
                <td>
                <form name="edit" action="/games/sales/" method="post"> {% csrf_token %}
                  <input type="hidden" name="view_sales_of" value="{{game.id}}">
                  <input type="submit"  class="btn" name="submit-sales" value="Sales">
                </form>
              </td>
              </figcaption>
          </div>
        {% endfor %}
      </div>

        <!--{% for game in games %}

        <a href="/game/{{ game.id }}" value={{game.title}}>
          <p class="gametitle">{{ game.title }}</p>
        </a>
        <img src="{{ game.picture }}" / >
        <a href="/edit-game/{{ game.id }}" type="button">Edit game</a><br/>
        <a href="/del-game/{{ game.id }}" type="button">Delete game</a>
        {% endfor %}-->
    </div>
  </div>

  <div id="tabs-3">
    <table>
      <tr>
        <th>Game title</th>
        <th>Bought</th>
        <div > {{no_list}}</div>
        <div > {{no}}</div>
      </tr>
    </table>
  </div>
</div>
{% endblock %}
