{% extends "webshop/base.html" %}

{% block title %}Welcome to JSshop!{% endblock %}
{% block script %}$(function() {
  $( "#tabs" ).tabs();
});{% endblock %}

{% block content %}
<div id="tabs">
  <ul>
    <li><a href="#tabs-1">Profile</a></li>
    <li><a href="#tabs-2">Games</a></li>
    <li><a href="#tabs-3">Statistics</a></li>
  </ul>
  <div id="tabs-1">

  </div>

  <div id="tabs-2">
    <div id="uploaded-games">
      <ul>
        <li>game1</li>
      </ul>
    </div>
    <div id="add-game">
      <a href="add-game.html">Add game</a>
    </div>
  </div>

  <div id="tabs-3">
    <table>
      <tr>
        <th>Game title</th>
        <th>Bought</th>
      </tr>
    </table>
  </div>
</div>
{% endblock %}
