{% extends "webshop/base.html" %}

{% block title %}Welcome to JSshop!{% endblock %}
{% block script %}$(function() {
  $( "#tabs" ).tabs();
});{% endblock %}

{% block content %}
<div id="tabs">
  <ul>
    <li><a href="#tabs-1">Profile</a></li>
    <li><a href="#tabs-2">Games</a></li>
    <li><a href="#tabs-3">Statistics</a></li>
  </ul>
  <div id="tabs-1">

  </div>

  <div id="tabs-2">
    <div id="uploaded-games">
      <ul>

        {% for game in games %}
        <h1><a href="/game/{{ game.id }}" value={{game.title}}>{{ game.title }}</a></h1>
            <img src="{{ game.picture }}"  height="142" width="142" / >

   <!--- <form action="webshop/game.html" method="POST">
    <input id="submit" type="button" value="{{ game.title }} " name="{{ game.title }}" />    -->
    <a href="/edit-game/{{ game.id }}" type="button">Edit game</a>
    <br>
    <a href="/del-game/{{ game.id }}" type="button">Delete game</a>

        {% endfor %}
      </ul>
    </div>
    <div id="add-game">
      <a href="add-game.html">Add game</a>

    </div>
  </div>

  <div id="tabs-3">
    <table>
      <tr>
        <th>Game title</th>
        <th>Bought</th>
      </tr>
    </table>
  </div>
</div>
{% endblock %}
