{% extends "webshop/base.html" %}

{% block title %}Welcome to JSshop!{% endblock %}

{% block content %}
  <div id="view-game">
    <p>title: {{ temp.title }}</p>
    <img src="{{ temp.picture }}"  height="142" width="142" / >
    <p>author: {{ temp.author }}</p>
    <p>price: {{ temp.price }}</p>
    <p>tag: {{temp.tag }}</p>
    <p>description: {{ temp.description }}</p>

    <form action="http://payments.webcourse.niksula.hut.fi/pay/" method="POST">
        <input id="submit" type="button" value="BUY" name="buy" />
    </form>

    </br>
    <a href="/home">Back to browsing</a>
  </div>
{% endblock %}
