{% extends "webshop/base.html" %}

{% block title %}Welcome to JSshop!{% endblock %}

{% block content %}
  <div id="view-game">
    <p class="gametitle">{{ temp.title }}</p><br/>
    <div id="container">
      <img src="{{ temp.picture }}" height=100px/ >
      <div class="emptyspace"></div>
      <div>
        <p>Author: {{ temp.author }}</p>
        <p>Price: {{ temp.price }}</p>
        <p>Tag: {{temp.tag }}</p>
        <p>Description: {{ temp.description }}</p>
        <div id="actions">
          <form action="http://payments.webcourse.niksula.hut.fi/pay/" method="POST">
              <input id="submit" type="button" value="BUY" name="buy" />
          </form>
          <div class="emptyspace"></div>
          <a href="/home">Back to browsing</a>
        </div>
      </div>
    </div>
  </div>
{% endblock %}
