{% extends "webshop/base.html" %}

{% block title %}Welcome to JSshop!{% endblock %}

{% block content %}
  <div id="my-games-wrapper">
    <div id="my-games">
      <p>My games</p><br/>
      <br/>
      <div id="bought-game-list">
        <!--{% for g in games %}
          <div id="game-instance">
            <a href="/game/{{ g.id }}">
              <img src="{{ g.picture }}">
              <figcaption>
                <a href="/game/{{ g.id }}">
                  {{ g.title }}
                </a>
              </figcaption>
            </a>
          </div>
        {% endfor %}-->
        <br>
          {% for g in game_list %}
            <div id="game-instance">
              <a href="/game/{{ g.id }}">
                <img src="{{ g.picture }}"  style="width:150px;height:150px">
                <figcaption>
                  <a href="/game/{{ g.id }}">
                    {{ g.title }}
                  </a>
                </figcaption>
              </a>
            </div>
          {% endfor %}

     <br>
      </div>
    </div>
    <div id="browse-games">
      <p>Browse games</p><br/>
      <div id="game-list">
        {% for g in games %}
          <div id="game-instance">
            <a href="/game/{{ g.id }}">
              <img src="{{ g.picture }}"  style="width:300px;height:300px">
              <figcaption>
                <a href="/game/{{ g.id }}">
                  {{ g.title }}
                </a>
              </figcaption>
            </a>
          </div>
        {% endfor %}
      </div>
    </div>
  </div>
{% endblock %}
