{% extends "webshop/base.html" %}

{% block title %}Welcome to JSshop!{% endblock %}

{% block content %}
  <div id="my-games-wrapper">
    <div id="my-games">
      <p>My games</p><br/>
      <br/>
      <div id="bought-game-list">
        <!--{% for g in games %}
          <div id="game-instance">
            <a href="/game/{{ g.id }}">
              <img src="{{ g.picture }}">
              <figcaption>
                <a href="/game/{{ g.id }}">
                  {{ g.title }}
                </a>
              </figcaption>
            </a>
          </div>
        {% endfor %}-->
        <br>
          {% for g in game_list %}
            <div id="game-instance">
              <a href="/game/{{ g.id }}">
                <img src="{{ g.picture }}"  style="width:150px;height:150px">
                <figcaption>
                  <a href="/play/{{ g.id }}">
                    {{ g.title }}
                  </a>
                </figcaption>
              </a>
            </div>
          {% endfor %}

     <br>
      </div>
    </div>
    <div id="browse-games">
      <p>Browse games</p><br/>

      <!--<select>
        <option value="title">title</option>
        <option value="tag">tag</option>
        <option value="price">price</option>
        <option value="author">author</option>
      </select>-->
      <p>Click on the header to sort.</p>

    <tr>
      <th><a href="?order=title">Name</a></th>
      <th><a href="?order=tag">Category</a></th>
      <th><a href="?order=price">Price</a></th>
      <th><a href="?order=author">Developer</a></th>
    </tr>
     <table class="table table-bordered">
      <div id="game-list">
        {% for g in games %}
          <div id="game-instance">
            <a href="/game/{{ g.id }}">
              <img src="{{ g.picture }}"  style="width:300px;height:300px">
              <figcaption>
                <a href="/game/{{ g.id }}">
                  {{ g.title }}
                  <br><br>
                  {{ g.tag }}
                  <br><br>
                  {{ g.price }}
                  <br><br>
                  {{ g.author }}
                </a>
              </figcaption>
            </a>
          </div>
        {% endfor %}
      </div>
    </div>
  </div>
{% endblock %}
