<DOCTYPE html>
<html lang="en">
  <head>
    <title>Welcome to JS Shop!</title>
    <meta http-equiv="content-type" content="text/html"; charset="utf-8"/>
    <meta content=”width=device-width; initial-scale=1.0; maximum-scale=2.0; user-scalable=1;” name=”viewport”>
    <meta name=”viewport” content=”user-scalable=YES” />
    <link href="home.css" rel="stylesheet" type="text/css">
  </head>
  <body>
    <h1>JS shop</h1>
    <form method="post" action="index.html">
        <p><input type="email" name="email" value="" placeholder="Email"></p>
        <p><input type="password" name="password" value="" placeholder="Password"></p>
        <p class="remember_me">
          <label>
            <input type="checkbox" name="remember_me" id="remember_me">
            Remember me on this computer
          </label>
        </p>
        <p class="submit"><input type="submit" name="commit" value="Login"></p>
      </form>
  </body>
</html>
